{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "TaskRequestRecords",
      "Effect": "Allow",
      "Action": ["dynamodb:GetItem", "dynamodb:PutItem", "dynamodb:UpdateItem", "dynamodb:DeleteItem", "dynamodb:Query", "dynamodb:ConditionCheckItem"],
      "Resource": "${request_table_arn}",
      "Condition": {"ForAllValues:StringLike": {"dynamodb:LeadingKeys": ["TASK#*", "TASK_RUN#*", "TASK_EVENTS#*", "TASK_COMMANDS#*", "TASK_TURNS#*", "TASK_OPS#*", "TASK_IDEMP#*", "TASK_WORK#*", "TASK_REPORT#*", "TASK_ARTIFACT#*"]}}
    },
    {
      "Sid": "TaskSparseWorkIndex",
      "Effect": "Allow",
      "Action": "dynamodb:Query",
      "Resource": "${request_table_arn}/index/task-work-index",
      "Condition": {"ForAllValues:StringEquals": {"dynamodb:LeadingKeys": ["v1#00", "v1#01", "v1#02", "v1#03", "v1#04", "v1#05", "v1#06", "v1#07", "v1#08", "v1#09", "v1#10", "v1#11", "v1#12", "v1#13", "v1#14", "v1#15"]}}
    },
    {
      "Sid": "ProtectedTaskAuthority",
      "Effect": "Allow",
      "Action": ["dynamodb:GetItem", "dynamodb:PutItem", "dynamodb:UpdateItem", "dynamodb:ConditionCheckItem"],
      "Resource": "${authority_table_arn}",
      "Condition": {"ForAllValues:StringLike": {"dynamodb:LeadingKeys": ["TENANT#*", "TASK_CAPACITY#*", "TASK_WORK_ID#*", "PODTASK#*"]}}
    },
    {
      "Sid": "RetainedTaskLocatorCleanup",
      "Effect": "Allow",
      "Action": ["dynamodb:Query", "dynamodb:DeleteItem"],
      "Resource": "${authority_table_arn}",
      "Condition": {"ForAllValues:StringLike": {"dynamodb:LeadingKeys": ["TASK_WORK_ID#*"]}}
    },
    {
      "Sid": "TaskArtifactObjects",
      "Effect": "Allow",
      "Action": ["s3:GetObject", "s3:PutObject", "s3:DeleteObject"],
      "Resource": "${artifact_bucket_arn}/tasks/*"
    },
    {
      "Sid": "TaskDynamoEncryption",
      "Effect": "Allow",
      "Action": ["kms:Decrypt", "kms:GenerateDataKey"],
      "Resource": "${dynamodb_key_arn}",
      "Condition": {"StringEquals": {"kms:ViaService": "dynamodb.${region}.amazonaws.com", "kms:CallerAccount": "${account_id}"}}
    }
  ]
}
